name: Manual Hello World

on:
  workflow_dispatch:
  push:
  
env:
  GREETING_MESSAGE: "Hello World!"
  GOODBYE_MESSAGE: "Good Bye World!"

jobs:
  lint-yaml:
    runs-on: ubuntu-latest
    steps:
      - name: check out code
        uses: actions/checkout@v3
      - name: Run YAML Lint
        uses: ibiqlik/action-yamllint@v3
  say-hello:
    needs: lint-yaml
    runs-on: ubuntu-latest
    steps:
      - name: Print ${GREETING_MESSAGE}
        run: echo "${GREETING_MESSAGE}"
  say-goodbye:
     needs: say-hello
     runs-on: ubuntu-latest
     if: github.status_code =='0'
     steps:
      - name: Print ${GOODBYE_MESSAGE}
        run: echo "${GOODBYE_MESSAGE}"
