name: Manual Hello World

on:
  workflow_dispatch:

jobs:
  Wanna-say-hello:
    runs-on: ubuntu-latest
    steps:
      - name: Print Hello World
        run: echo "Hello, World!"
      - name: Print bye world
        run: echo "Bye, Hello world!"
